
<div class="container">
	<div class="col-12">
		<div class="main-panel main-dp-panel">
			<h2>Daily LLP Board</h2>
			<div class="form-container llp-form">
				<table>
					<thead>
						<th>name</th>
						<th>monday</th>
						<th>tuesday</th>
						<th>wednesday</th>
						<th>thursday</th>
						<th>friday</th>
						<th>action</th>
					</thead>
					<tbody>
						<tr [attr.data-deleted]="item.isDeleted" *ngFor="let item of fileData;let i = index" [attr.data-index]="i" >
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="name-input" type="text" name="name" >{{ item.name }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="monday-input" type="text" name="monday" > {{ item.monday }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="tuesday-input" type="text" name="tuesday" > {{ item.tuesday }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="wednesday-input" type="text" name="wednesday" > {{ item.wednesday }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="thursday-input" type="text" name="thursday" > {{ item.thursday }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="friday-input" type="text" name="friday" > {{ item.friday }}</textarea>
							</td>
							<td>
								<button type="button" [attr.data-rowno]="i" (click)="deleteRow($event)">Delete</button>
							</td>
						<tr>
					</tbody>
				</table>
				<button (click)="saveData($event)" type="button">Submit</button>
				<button (click)="addRow()" type="button">Add new row</button>
			</div>
		</div>
	</div>
</div>
<div class="global-model" *ngIf="isModelOpen">
	<div class="model-container">
		<h2>{{ modelData.heading }}</h2>
		<p>{{ modelData.description }}</p>
		<div *ngIf="modelData.showRedirectLink">
			<a [routerLink]="[modelData.redirectUrl]">{{ modelData.redirectLabel }}</a>
		</div>
		<div *ngIf="modelData.showCloseButton">
			<button type="button" (click)="closeModel()">Close</button>
		</div>
	</div>
</div>