
table {
	width: 100%;
	border-collapse: collapse;
	border-left: 4px solid darkmagenta;
	box-shadow: 3px 2px 2px #ccc;

	th, td {
		text-align: left;
		padding: 10px;
		border-collapse: collapse;
		border: 1px solid #ccc;
	}

	th {
		background: darkmagenta;
		color: white;
		text-transform: capitalize;
	}

	tbody {
		tr:nth-child(2n+2) {
			background: #fafafa;
		}
	}

	tr[data-deleted="deleted"] {
		opacity: 0.5;

		input {
			pointer-events: none;
		}
	}
	input {
		width: 100%;
	}
}
