
table {
	width: 100%;
	border-collapse: collapse;
	border-left: 4px solid darkmagenta;
	box-shadow: 3px 2px 2px #ccc;

	th, td {
		text-align: left;
		padding: 10px;
		border-collapse: collapse;
		border: 1px solid #ccc;
	}

	th {
		background: darkmagenta;
		color: white;
		text-transform: capitalize;
	}

	tbody {
		tr:nth-child(2n+2) {
			background: #fafafa;
		}
	}

	tr[data-deleted="deleted"] {
		opacity: 0.5;
		pointer-events: none;
	}
	input {
		width: 100%;
	}

	.total-due {
		background: #ca3030;
		color: #fff;
		text-align: center;
		font-size: 40px;
	}

	.total-row td {
		background: #333;
		color: #fff;
	}

	.fine-col {
		background: #ca3030;
	    color: #fff;
	    text-align: center;
	    border-radius: 10px;
	    padding: 10px;
	    box-shadow: 1px 5px 5px #b10c0c;

	    &.fine-green {
	    	background: green;
	    	box-shadow: 1px 5px 5px #29d839;
	    }
	}
}

.llp-form {
	.today {
		width: 250px;
		background: #580558;
	}
	.today textarea {
		background: mediumvioletred;
		color: #fff;
		box-shadow: none;
	}
}

@media all and (max-width: 767px) {
	.llp-form {
		tr {
			position: relative;
			display: block;
		}

		td,
		th {
			display: block;
		}

		.not-today{
			display: none;
		}
	}
}