body {
	font-family: 'verdana'
}
.container {
	lost-center: 100%;
	lost-utility: clearfix;
	padding: 20px 20px 20px 360px;
}

.left-panel {
	width: 300px;
	position: fixed;
	left: 0;
	top: 0;
	background: indigo;
	box-shadow: 0 0 5px black;
	height: 100%;
	color: white;
	font-size: 30px;
	font-family: arial;
	padding: 20px;
}