
.container {
	lost-center: 100%;
	lost-utility: clearfix;
	padding: 20px 20px 20px 20px;
}

.main-dp-panel {
	lost-center: 50%;
}

body {
	background: #f4f6f8;
}

div {
	font-family: 'Open Sans';
}

.col-3 {
	lost-column: 3/12;
}
.col-4 {
	lost-column: 4/12;
}
.col-6 {
	lost-column: 6/12;
}

.col-7 {
	lost-column: 7/12;
}

.col-8 {
	lost-column: 8/12;
}

.col-12 {
	lost-column: 12/12;
}

.header {
	color: white;
	font-size: 20px;
	font-family: arial;
	padding: 20px;

	h1 {
		font-family: fantasy;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: #1a222b;
	}
}

.navigation {
	nav {
		display: block;

		ul {
			list-style: none;
			padding: 0;
			text-align: right;

			li {
				display: inline-block;

				a {
					color: #333;
					text-decoration: none;
					font-size: 0.8rem;
					text-transform: uppercase;
					font-weight: bold;
					padding: 10px;
					font-weight: 800;
				}
			}
		}
	}
}

.left-panel {

	h2 {
		margin-top: 30px;
		text-transform: uppercase;;
	}

	.content {
		padding: 0 20px 20px 20px;

		ul {
			padding: 0;
			list-style: none;
		}

		li {
			font-size: 1rem;
			line-height: 1.5;
			margin-top: 10px;
			cursor: pointer;
			border-bottom: 1px dotted #ccc;
			text-transform: uppercase;
			position: relative;
			padding-left: 30px;
			padding-bottom: 10px;

			&::before {
				position: absolute;
				left: 0;
				top: 4px;
				width: 15px;
				height: 15px;
				content: "";
				background: #202e78;
			}

			a {
				text-decoration: none;
				color: #333;

				&:hover {
					color: #202e78;
				}
			}
		}
	}

	.list-content {
		max-height: 400px;
		overflow-y: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.main-panel {
	padding: 50px;
	background: #fff;
	box-shadow: 0 0 20px #ccc;
	border: 2px solid #ccc;

	h1 {
    	font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
		color: #202e78;
	}

	p {
		font-size: 1rem;
		line-height: 2;
	}

	.issue-list {
		line-height: 1.5;
		border-bottom: 1px dotted #ccc;
		margin-top: 10px;
	}
}

.search-issue-box {
	width: 100%;
	padding: 20px;
	border: 2px solid #ccc;

	&:focus {
		border: 2px solid #202e78;
		outline: none;
	}
}

.categories-panel {
	padding: 20px;
	background: cornflowerblue;

	h2 {
		font-size: 1rem;
		color: white;
		text-transform: uppercase;
	}

	p {
		font-size: 0.875rem;
		line-height: 1.2;
	}

	.tag {
		height: 50px;
		line-height: 50px;
		vertical-align: center;
		background: #333;
		color: #fff;
		margin: 2px;
		display: inline-block;
		padding: 5px 10px;
	}
}

.footer {
	height: 100px;
}