
<div class="container">
	<div class="col-12">
		<div class="main-panel main-dp-panel">
			<h2>Samosa section</h2>
			<p>The fine was captured on: {{ llpCloseDate }}</p>
			<h3>Paytm: <strong>9910712381</strong></h3>
			<div class="pagination-button">
				<button
					*ngIf="this.displayFileNumber > 0"
					(click)="prevFine()"
					type="button">Prev LLP fine</button>
				<button
					(click)="currentFine()"
					type="button">Current LLP fine</button>
				<button
					*ngIf="this.displayFileNumber < latestFileNumber"
					(click)="nextFine()"
					type="button">Next LLP fine</button>
			</div>
			<div class="form-container top-margin-20">
				<table>
					<thead>
						<th>name</th>
						<th>fine</th>
						<th>currency</th>
						<th>collection</th>
						<th>LLP Due</th>
						<th class="total-due">Total Due</th>
					</thead>
					<tbody>
						<tr
							*ngFor="let item of fileData;">
							<td>{{ item.name }}</td>
							<td>{{ item.fine }}</td>
							<td>{{ item.currency }}</td>
							<td>{{ item.collectedfine }}</td>
							<td><div [class]="(item.fine - item.collectedfine)  > 0 ? 'fine-col' : 'fine-col fine-green'">{{ item.fine - item.collectedfine }}</div></td>
							<td class="total-due">{{ processHistoryData(item.empid) }}</td>
						<tr>
						<tr class="total-row">
							<td>Total</td>
							<td>{{ totalFine }}</td>
							<td>INR</td>
							<td>{{ totalCollection }}</td>
							<td>{{ totalFine - totalCollection }}</td>
							<td class="total-due">{{ totalDue }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>