
<div class="container">
	<div class="col-12">
		<div class="main-panel main-dp-panel">
			<h2>Samosa section</h2>
			<p *ngIf="!loggedIn">Note: Only available for loggedin users</p>
			<div class="pagination-button">
				<button *ngIf="this.displayFileNumber > 0" type="button" (click)="prevFine()">Prev LLP fine</button>
				<button type="button" (click)="currentFine()">Current LLP fine</button>
				<button *ngIf="this.displayFileNumber < latestFileNumber" type="button" (click)="nextFine()">Next LLP fine</button>
			</div>
			<div class="form-container update-error-form">
				<table>
					<thead>
						<th>name</th>
						<th>fine</th>
						<th>currency</th>
						<th>collected fine</th>
						<th>action</th>
					</thead>
					<tbody>
						<tr [attr.data-deleted]="item.isDeleted" *ngFor="let item of fileData;let i = index" [attr.data-index]="i">
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="name-input" type="text" name="name" [disabled]="isFieldInputDisabled()">{{ item.name }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="fine-input" type="text" name="fine" [disabled]="isFieldInputDisabled()">{{ item.fine }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="currency-input" type="text" name="currency" [disabled]="isFieldInputDisabled()">{{ item.currency }}</textarea>
							</td>
							<td>
								<textarea (change)="updateData($event)" [attr.data-rowno]="i" class="collectedfine-input" type="text" name="collectedfine" [disabled]="isFieldInputDisabled()">{{ item.collectedfine }}</textarea>
							</td>
							<td>
								<button type="button" [attr.data-rowno]="i" (click)="deleteRow($event)" [disabled]="!loggedIn">Delete</button>
							</td>
						<tr>
					</tbody>
				</table>
				<button (click)="addRow()" type="button" [disabled]="!loggedIn">Add new row</button>
			</div>
		</div>
	</div>
</div>

<div class="global-model" *ngIf="isModelOpen">
	<div class="model-container">
		<h2>{{ modelData.heading }}</h2>
		<p>{{ modelData.description }}</p>
		<div *ngIf="modelData.showRedirectLink">
			<a [routerLink]="[modelData.redirectUrl]">{{ modelData.redirectLabel }}</a>
		</div>
		<div *ngIf="modelData.showCloseButton">
			<button type="button" (click)="closeModel()">Close</button>
		</div>
	</div>
</div>