
.ang-app {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    lost-center: 100%;
    lost-utility: clearfix;
    padding: 20px 20px 20px 20px;
}

.col-xs-12 {
    lost-column: 12/12;
}

@media all and (min-width: 768px) {
    .col-1 {
        lost-column: 1/12;
    }

    .col-2 {
        lost-column: 2/12;
    }

    .col-3 {
        lost-column: 3/12;
    }
    .col-4 {
        lost-column: 4/12;
    }
    .col-5 {
        lost-column: 5/12;
    }
    .col-6 {
        lost-column: 6/12;
    }

    .col-7 {
        lost-column: 7/12;
    }

    .col-8 {
        lost-column: 8/12;
    }

    .col-9 {
        lost-column: 9/12;
    }

    .col-10 {
        lost-column: 10/12;
    }
    .col-11{
        lost-column: 11/12;
    }
    .col-12 {
        lost-column: 12/12;
    }
}