
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}

button,
.input[type="file"] {
    background: darkcyan;
    padding: 15px 25px;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    outline: none;
    box-shadow: 4px 4px 2px #ccc;
    text-shadow: 1px 1px 1px #000;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.5s;

    &:hover,
    &:focus {
        background: #5c0a3e;
    }
}

textarea {
    box-shadow: 4px 4px 2px #ccc;
    outline-color: darkcyan;
    padding: 10px;
}

.input[type="file"] {
    @media all and (min-width: 768px) {
        width: 300px;
    }
}

select {
    padding: 10px;
    border: 1px solid darkcyan;

    &:focus {
        outline-color: darkcyan;
    }
}

.issue-box {
    label {
        display: block;
        margin-top: 10px;
    }

    textarea {
        display: block;
        margin-top: 10px;
        border-radius: 3px;
        resize: none;
        width: 50%;
        height: 50px;
        border-left: 5px solid darkcyan;
        box-shadow: 3px 2px 2px #ccc;
    }
}

.resolutin-box {
    label {
        display: block;
        margin-top: 20px;
    }

    textarea {
        display: block;
        margin-top: 10px;
        border-radius: 3px;
        resize: none;
        width: 50%;
        height: 150px;
        border-left: 5px solid darkcyan;
        box-shadow: 3px 2px 2px #ccc;
    }
}

.update-error-form {
    textarea {
        width: 100%;
        height: 50px;
    }
}

.llp-form {
    textarea {
        width: 100%;
        height: 100px;
    }

    .updated-box {
        background: green;
        color: #fff;
    }
}

.login-box {
    margin: 0 auto;

    @media all and (min-width: 768px) {
        width: 40%;
    }
}