
<div class="container">
	<div class="col-12">
		<div class="main-panel main-dp-panel form-panel">
			<div class="issue-form-container">
				<h2>Enter the issues and resolutions</h2>
				<p class="red">Note: Your data is public. Upload your content responsively</p>
				<p *ngIf="!loggedIn">Note: Only available for loggedin users</p>
				<form>
					<div class="input-container issue-box">
						<label>Please enter the issue</label>
						<textarea [disabled]="!loggedIn" class="textarea" name="issue" [(ngModel)]="issue"></textarea>
					</div>
					<div class="input-container resolutin-box">
						<label>Please enter the resolution</label>
						<textarea [disabled]="!loggedIn" class="textarea" name="resolution" [(ngModel)]="resolution"></textarea>
					</div>
					<div class="input-container">
						<button [disabled]="!loggedIn" (click)="onClick()" type="button">Submit</button>
					</div>
				</form>
			</div>

			<div class="upload-file-container">
				<h2>Upload a file containing the fine</h2>
				<p *ngIf="!loggedIn">Note: Only available for loggedin users</p>
				<form>
					<div class="input-container">
						<input [disabled]="!loggedIn" (change)="uploadFile($event)" class="input" name="file" [(ngModel)]="xfile" type="file" />
					</div>
					<div class="input-container">
						<button [disabled]="!loggedIn" (click)="processData()" type="button">Submit</button>
					</div>
					<p>Note: Only xls files are allowed to upload</p>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="global-model" *ngIf="isModelOpen">
	<div class="model-container">
		<h2>{{ modelData.heading }}</h2>
		<p>{{ modelData.description }}</p>
		<div *ngIf="modelData.showRedirectLink">
			<a [routerLink]="[modelData.redirectUrl]">{{ modelData.redirectLabel }}</a>
		</div>
		<div *ngIf="modelData.showCloseButton">
			<button type="button" (click)="closeModel()">Close</button>
		</div>
	</div>
</div>