
<div class="container">
	<div class="col-12">
		<div class="main-panel">
			<div class="main-panel-content issue-content">
				<div class="col-12">
					<h2>Issues / Risk</h2>
					<div class="issues-risk">
						<table>
							<thead>
								<tr>
									<th>Issue / Risk</th>
									<th>Due Date</th>
									<th>Owner</th>
									<th>Resolve</th>
								</tr>
							</thead>
							<tbody>
								<tr
									*ngFor="let item of issuesData;let i = index" [attr.data-index]="i">
									<td>
										<textarea
											(change)="updateData($event)"
											[attr.data-rowno]="i"
											[disabled]="!loggedIn"
											class="name-input"
											type="text"
											name="name">{{ item.name }}</textarea>
									</td>
									<td>
										<textarea
											(change)="updateData($event)"
											[attr.data-rowno]="i"
											[disabled]="!loggedIn"
											class="date-input"
											type="text"
											name="dueDate">{{ item.dueDate }}</textarea>
									</td>
									<td>
										<textarea
											(change)="updateData($event)"
											[attr.data-rowno]="i"
											[disabled]="!loggedIn"
											class="owner-input"
											type="text"
											name="owner">{{ item.owner }}</textarea>
									</td>
									<td>
										<button
											(click)="resolveIssue()"
											type="button">Resolve</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="add-data-form">
						<button
						(click)="saveData()"
						type="button">Save</button>
					</div>
				</div>
				<div class="col-12">
					<h2>Next Steps</h2>
					<div class="issues-risk">
						<table>
							<thead>
								<tr>
									<th>Issue / Risk</th>
									<th>Due Date</th>
									<th>Owner</th>
									<th>Resolve</th>
								</tr>
							</thead>
							<tbody>
								<tr
									*ngFor="let item of nextStepsData;let i = index" [attr.data-index]="i">
									<td>
										<textarea
											(change)="updateData($event)"
											[attr.data-rowno]="i"
											[disabled]="!loggedIn"
											class="name-input"
											type="text"
											name="name">{{ item.name }}</textarea>
									</td>
									<td>
										<textarea
											(change)="updateData($event)"
											[attr.data-rowno]="i"
											[disabled]="!loggedIn"
											class="name-input"
											type="text"
											name="name">{{ item.dueDate }}</textarea>
									</td>
									<td>
										<textarea
											(change)="updateData($event)"
											[attr.data-rowno]="i"
											[disabled]="!loggedIn"
											class="name-input"
											type="text"
											name="name">{{ item.owner }}</textarea>
									</td>
									<td>
										<button
											(click)="resolveNextStep()"
											type="button">Resolve</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>