<div class="ang-app">
	<div class="header">
		<div class="col-xs-12 col-3">
			<h1>{{commonLabels.title}}</h1>
		</div>
		<div class="col-xs-12 col-9 navigation">
			<nav>
				<ul>
					<li *ngFor="let item of navData">
						<a [routerLink]="[item.url]">{{ item.label }}</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<router-outlet></router-outlet>
	<div class="footer">
		<ul>
			<li><a href="https://github.com/sintu-patel/web-xt" target="_blank">Github web xt</a></li>
			<li><a href="https://github.com/sintu-patel/web-api" target="_blank">Github web api</a></li>
			<li><a href="https://github.com/sintu-patel?tab=repositories" target="_blank">Github</a></li>
		</ul>
	</div>
</div>