<div class="ang-app">
	<div class="header">
		<div class="col-6">
			<h1>{{commonLabels.title}}</h1>
		</div>
		<div class="col-6 navigation">
			<nav>
				<ul>
					<li *ngFor="let item of navData">
						<a [routerLink]="[item.url]">{{ item.label }}</a>
					</li>
					<li>
						<a href="https://github.com/sintu-patel/angular2">Github</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<router-outlet></router-outlet>
	<div class="footer">
		<ul>
			<li><a href="https://github.com/sintu-patel/angular2">Github web xt</a></li>
			<li><a href="https://github.com/sintu-patel/web-api">Github web api</a></li>
			<li><a href="https://github.com/sintu-patel?tab=repositories">Github</a></li>
		</ul>
	</div>
</div>