<div class="container">
	<div class="col-12">
		<div class="main-panel main-dp-panel form-panel">
			<div class="issue-form-container login-box">
				<h2 *ngIf="!loggedIn">Sign up</h2>
				<form>
					<div class="input-container issue-box">
						<label for="name">Name</label>
						<input type="text" class="input" id="name" name="name" [(ngModel)]="name" />
					</div>
					<div class="input-container issue-box">
						<label for="username">Username</label>
						<input type="text" class="input" id="username" name="username" [(ngModel)]="username" />
					</div>
					<div class="input-container issue-box">
						<label for="password">Password</label>
						<input type="password" id="password" class="input" name="password" [(ngModel)]="password" />
					</div>
					<div class="input-container">
						<button (click)="register()" type="button">Sign up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="global-model" *ngIf="isModelOpen">
	<div class="model-container">
		<h2>{{ modelData.heading }}</h2>
		<p>{{ modelData.description }}</p>
		<div *ngIf="modelData.showRedirectLink">
			<a [routerLink]="[modelData.redirectUrl]">{{ modelData.redirectLabel }}</a>
		</div>
		<div *ngIf="modelData.showCloseButton">
			<button type="button" (click)="closeModel()">Close</button>
		</div>
	</div>
</div>