<div class="ang-app">
	<div class="header">
		<h1>{{ heading }}</h1>
	</div>
	<div class="container">
		<div class="col-3 left-panel">
			<div class="content">
				<h2>{{ linksHeading }}</h2>
				<ul>
					<li class="issues" *ngFor="let item of DATA">
						<a [routerLink]="['/profile']">{{ item.issue }}</a>
					</li>
				</ul>
				<button (click)="onClick()" type="button">Click</button>
			</div>
		</div>
		<div class="col-6">
			<div class="main-panel">
				<div class="search-issues">
					<input class="search-issue-box" [(ngModel)] = "query" placeholder="Search the text" />
				</div>
				<div class="issues" *ngFor="let item of (DATA) | find:query">
					<p class="issue-list">{{ item.issue }}</p>
				</div>
				<div class="main-panel-content">
					<h1>{{ heading }}</h1>
					<div class="issues" *ngFor="let item of DATA">
						<h2 class="issue">{{ item.issue }}</h2>
						<p class="resolution">{{ item.resolution | trimstring: item.resolution }}</p>
						<a href="{{ item.readMore }}" >Read More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="categories-panel">
				<h2>{{ categoriesHeading }}</h2>
				<div class="tag" *ngFor="let item of CATEGORIES">
					{{ item.name }}
				</div>
			</div>
		</div>
	</div>
</div>