
<div class="container">
	<div class="col-4 left-panel">
		<div class="content">
			<div class="search-issues">
				<input class="search-issue-box" [(ngModel)] = "query" placeholder="Search the text" />
			</div>
			<div class="list-content">
				<h2 *ngIf="DATA | find:query;">Search Results</h2>
				<ul>
					<li class="issues" *ngFor="let item of DATA | find:query; let i = index" [attr.data-index]="i">
						<a [routerLink]="['/detailpage']" [queryParams]="{ p: i }">{{ item.issue }}</a>
					</li>
				</ul>
				<h2>All issues</h2>
				<ul>
					<li class="issues" *ngFor="let item of DATA; let i = index" [attr.data-index]="i">
						<a [routerLink]="['/detailpage']" [queryParams]="{ p: i }">{{ item.issue }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-8">
		<div class="main-panel">
			<div class="main-panel-content">
				<h1>Updates</h1>
				<div class="issues" *ngFor="let item of DATA;let i = index" [attr.data-index]="i">
					<h2 class="issue">{{ item.issue }}</h2>
					<p class="resolution">{{ item.resolution | trimstring: item.resolution }}</p>
					<a [routerLink]="['/detailpage']" [queryParams]="{ p: i }">View more</a>
				</div>
			</div>
		</div>
	</div>
</div>